$font:'Titillium Web', sans-serif;
//$colorFont:;
$colorMain: #309023;
$colorSecondary:#009D73;
$colorOffWhite: #D7E6DD;
$colorHardGrey: #5B6055;
$colorSoftGreen: #93B7A9;
$colorSoftBlue: #C0E3DC;
$colorBrown: #796D50;
// Custom Styles

body {
  background-color:$colorMain;
  color: $colorSecondary;
}
