$font:'Titillium Web', sans-serif;
//$colorFont:;
$colorMain: #309023;
$colorSecondary:#009D73;
$colorOffWhite: #D7E6DD;
$colorHardGrey: #5B6055;
$colorSoftGreen: #93B7A9;
$colorSoftBlue: #C0E3DC;
$colorBrown: #796D50;
// Custom Styles


body {
  color: $colorSecondary;
  font: $font;
}


.profileInfo {
  background-color: $colorSoftGreen;
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 100%;
  height: 70px;

  .info {
    margin: 10px;
    vertical-align: middle;
    position: absolute;
    top:0px;
    right:0px;

    .prof_pic {
      border-radius: 100%;
      margin-left: 5px;
    }
    .username {
      color: white;
      font-size: 20px;
      display: inline-block;
      cursor: pointer;

    }
    .username:hover {
      color: $colorBrown;
    }
  }
}

.login {
  display: block;
  box-shadow: 1px 1px 5px 1px $colorSoftGreen;
  border-radius: 10px;
  margin: 100px 5px;

  ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;

    li {
      margin-bottom: 10px;

      input {
        padding: 10px;
        font-size: 20px
      }

      button {
        border-radius: 10px;
        background-color: $colorSoftGreen;
      }

      button:hover {
        background-color:$colorBrown;
      }
    }
  }
}

section {
  margin-top: 80px;
}

.burger {
  margin: 25px;
}

.hide {
  display: none;
}
